.sidebar {
  height: 100%;
}

.menu {
  background-color: #F1F3F4;
  padding: 20px;
  height: 100%;
  min-height: 100vh;
  overflow: auto;
}

.logo {
  width: 50px;
  margin: 0 auto;
  cursor: pointer;
}