// Brand Variables
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,400i,500,700');
$blue: #3D78F6;

// Update Bulma's global variables
$family-sans-serif: "Roboto Mono", monospace;
$primary: $blue;
$link: $blue;

// Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

.column {
  padding-bottom: 0;
}